/***************************************
               GENERAL
****************************************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	padding: 0;
}


/***************************************
               REUSABLE COMPONENTS
****************************************/



/***************************************
               HEADER
****************************************/
/*** HEADER ***/
#to-top-page {
	height: 0;
}

header {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.section-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-background.jpg");
	-webkit-background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-background.jpg");
	-moz-background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-background.jpg");
	-o-background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-background.jpg");
	-ms-background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-background.jpg");

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 90vh;	
}

/*** LOGO ***/
.logo-text {
	margin-top: 5px;
	z-index: 100;
}

.logo-text a {
	text-decoration: none;
}

.logo-text a p {
	font-size: 100%;
	color: rgba(0, 0, 0, 0.8);
}

.logo-text a p:hover {
	color: #3498db;
}

.logo-text a p:first-child {
	text-transform: uppercase;
	font-size: 63%;
	letter-spacing: 0.5px;
	font-weight: 700;
}

.logo-text a p:last-child {
	font-family: 'comfortaa', cursive;
	font-size: 90%;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 120%;
	margin-top: 5px;
}

/*** NAVIGATION ***/
.js-navigation {
	background: rgba(255, 255, 255, 0.95);
	height: 70px;
	position: fixed;
    width: 100%;
    z-index: 10;
    border-bottom: 2px solid #d3e9f7; /*90%*/

}

.header-nav {
	z-index: 100;
	display: none; 
	background: rgba(255, 255, 255, 0.95);
	border: 2px solid #d3e9f7; /*90%*/
}

.header-nav ul {
	width: 100%;
}

.header-nav ul li {
	list-style: none;
	margin-bottom: 30px;
	margin-left: 10px;
}

.header-nav ul li:first-child {
	margin-top: 10px;
}

.header-nav ul li a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8);
	text-transform: uppercase;
	font-size: 110%;
	padding-bottom: 10px;
}

.header-nav ul li a:hover {
	border-bottom: 3px solid #51a7e0; /* 60% */
}

/*** HAMBURGER & CLOSE ***/
.header-nav-wrap {
	position: relative;
	margin-top: 10px;
}

.hamburger,
.close {
	display: block;
	background: rgba(255, 255, 255, 0.95);
	padding: 3px;
	font-size: 220%;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 5px;
	right: 11%;
	z-index: 9999;
}

.hamburger:hover,
.close:hover {
	color: #3498db; /*53% - Origin*/
	background: #f0f7fc; /*96%*/
}

.hamburger {
	opacity: 1;
}

.close {
	opacity: 0;
	z-index: 0;
}


/*** HERO ***/
.hero-xxx {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -65%);
	-webkit-transform: translate(-50%, -65%);
	-moz-transform: translate(-50%, -65%);
	-o-transform: translate(-50%, -65%);
	-ms-transform: translate(-50%, -65%);

}

.hero h1 {
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 170%;
	letter-spacing: 0.2px;
	line-height: 125%;
	margin: 0;
	padding: 0;
	width: 100%;
	margin-bottom: 20px;
}

.p-button-wrap a {
	text-decoration: none;	
	padding: 10px 15px;
	border-radius: 250px;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	-o-border-radius: 250px;
	-ms-border-radius: 250px;
	border: 2px solid #e67e22;
	font-size: 110%;
}

.p-button-wrap a {
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	background: #3498db;
	border: 3px solid #3498db;
}

.p-button-wrap a:hover {
	color: #e67e22;
	background: transparent;
}


/***************************************
            SECTION HOTLINE
****************************************/
.section-hotline {
	padding: 40px 0;
}

h2 {
	font-size: 180%;
	font-weight: 300;
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
	text-transform: uppercase;
}

.blank-div {
	border-bottom: 3px solid #3498db;
	width: 45%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.hotline-number p,
.hotline-email p {
	font-size: 110%;
	font-weight: 300;
	margin: 3px 0;
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
}

.hotline-number p a {
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}

.hotline-number p:nth-child(1) {
	font-size: 110%;
}

.hotline-email p:nth-child(1) {
	font-size: 110%;
}

.hotline-email {
	margin: 10px 0;
}

.hotline-email a {
	text-decoration: none;
	font-size: 90%;
	overflow: hidden;
	color: rgba(0, 0, 0, 0.8);
}

.hotline-number p a:hover,
.hotline-email a:hover {
	color: #7cbde8; /*70%*/
}

.hotline-icon {
	color: #3498db;
	font-size: 110%;
	margin-right: 5px;
}


/***************************************
            SECTION INTRO
****************************************/
.section-intro {
	padding: 40px 0;
	background: #f6f8f8;
}

.section-intro i {
	font-size: 250%;
	color: #3498db;
	margin: 10px 0;
}

.section-intro p {
	font-size: 100%;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 20px;
}

.section-intro p span {
	font-size: 150%;
	margin-left: 10px;
	font-weight: 400;
}

h3 {
	width: 100%;
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
	font-size: 125%;
	font-weight: 300;
	text-transform: uppercase;
	margin: 20px 0;
	padding: 10px;
	background: #d3e9f7; /*90%*/
	border: 1px solid #a7d3ef; /*80%*/
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	box-shadow: 3px 3px 5px #d8e1e3;
}

/***************************************
            SECTION PRODUCTS
****************************************/
.section-products {
	padding: 40px 0;
}

.img-product-wrap {
	border: 1px solid lightgrey; /*for testing purpose*/
	overflow: hidden;	
}

.section-products img {
	width: 100%;
	height: 100%;
}

.product-detail {
	margin-top: 20px;
}

.product-detail i {
	font-size: 200%;
}

.product-detail i,
.product-detail p {
	margin: 5px 0;
}

.product-detail i {
	color: #51a7e0; /*60%*/
}

.product-detail p {
	color: rgba(0, 0, 0, 0.8);
	margin-left: 15px;
}

.section-products .col {
	margin-top: 70px;
}

.section-products .col:first-child {
	margin-top: 40px;
}


/***************************************
            SECTION GALLERY
****************************************/
.section-gallery {
	padding: 40px 0;
	background: #f6f8f8;
}

.section-gallery img {
	width: 100%;
}

/***************************************
            SECTION FORM
****************************************/
.section-form {
	padding: 40px 0;
}


h4 {
	color: rgba(0, 0, 0, 0.8);
	font-size: 125%;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	line-height: 135%;
}

.section-form p {
	color: rgba(0, 0, 0, 0.8);
	text-align: center;
}

.section-form p a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8);
}

.section-form .row > div:nth-child(1),
.section-form .row > div:nth-child(3),
.section-form .row > div:nth-child(5) {
	margin-top: 15px;
}


/***************************************
            GOOGLE MAP
****************************************/
.goolemap-wrap {
	width: 80%;
	margin: 0 auto;
}

#phuhung-map {
	height: 200px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid lightgrey;
	box-shadow: 1px 2px 4px lightgrey;
	margin-bottom: 50px;
}

.google-map h4 {
	margin-bottom: 10px;
}


/***************************************
            FOOTER
****************************************/
footer {
	background: #51a7e0; /*60%*/
	padding: 20px 0;
}

.footer-wrap p {
	text-align: center;
	color: #fff;
	line-height: 125%;
}

/***************************************
            ANIMATION
****************************************/
/*** Animite to HAMBURGER & CLOSE BUTTON ***/
.js-show-hamburger,
.js-show-close {
	opacity: 1;
	z-index: 9999;
}

.js-hide-hamburger,
.js-hide-close {
	opacity: 0;
	z-index: 0;
}



/*** Animite Call Us - SECTION HOTLINE ***/
.js-animate-call-us {
	transform-origin: 50% 0;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	-o-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
  	animation: KEYFRAME-NAME 1.5s ease-in-out forwards infinite;
  	-webkit-animation: KEYFRAME-NAME 1.5s ease-in-out forwards infinite;
	-moz-animation: KEYFRAME-NAME 1.5s ease-in-out forwards infinite;
	-o-animation: KEYFRAME-NAME 1.5s ease-in-out forwards infinite;
	-ms-animation: KEYFRAME-NAME 1.5s ease-in-out forwards infinite;
}

@keyframes KEYFRAME-NAME {
  	0%   	{ transform: rotate(3deg); 	}
  	50%		{ transform: rotate(-3deg);	}
  	100% 	{ transform: rotate(3deg); 	}
}
@-webkit-keyframes KEYFRAME-NAME {
  	0%   	{ transform: rotate(3deg); 	}
  	50%		{ transform: rotate(-3deg);	}
  	100% 	{ transform: rotate(3deg); 	}
}
@-moz-keyframes KEYFRAME-NAME {
  	0%   	{ transform: rotate(3deg); 	}
  	50%		{ transform: rotate(-3deg);	}
  	100% 	{ transform: rotate(3deg); 	}
}
@-o-keyframes KEYFRAME-NAME {
  	0%   	{ transform: rotate(3deg); 	}
  	50%		{ transform: rotate(-3deg);	}
  	100% 	{ transform: rotate(3deg); 	}
}
@-ms-keyframes KEYFRAME-NAME {
  	0%   	{ transform: rotate(3deg); 	}
  	50%		{ transform: rotate(-3deg);	}
  	100% 	{ transform: rotate(3deg); 	}
}



/*** Animite First Para - SECTION INTRO ***/
.js-animate-section-intro {
	animation: scaleText 1.5s ease-in-out forwards;
	-webkit-animation: scaleText 1.5s ease-in-out forwards;
	-moz-animation: scaleText 1.5s ease-in-out forwards;
	-o-animation: scaleText 1.5s ease-in-out forwards;
	-ms-animation: scaleText 1.5s ease-in-out forwards;
}


@keyframes scaleText {
  	0%   	{ transform: scale(1.0); 	}
  	50%		{ transform: scale(1.05);	}
  	100% 	{ transform: scale(1.0); 	}
}
@-webkit-keyframes scaleText {
  	0%   	{ transform: scale(1.0); 	}
  	50%		{ transform: scale(1.05);	}
  	100% 	{ transform: scale(1.0); 	}
}
@-moz-keyframes scaleText {
  	0%   	{ transform: scale(1.0); 	}
  	50%		{ transform: scale(1.05);	}
  	100% 	{ transform: scale(1.0); 	}
}
@-o-keyframes scaleText {
  	0%   	{ transform: scale(1.0); 	}
  	50%		{ transform: scale(1.05);	}
  	100% 	{ transform: scale(1.0); 	}
}
@-ms-keyframes scaleText {
  	0%   	{ transform: scale(1.0); 	}
  	50%		{ transform: scale(1.05);	}
  	100% 	{ transform: scale(1.0); 	}
}

/*** Animite h3 - SECTION INTRO ***/
.js-h3-section-intro {
	position: relative;
	transition: all 1.5s ease-in-out;
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	-ms-transition: all 1.5s ease-in-out;
}

.js-animate-h3-section-intro {
	animation: slideInH3 1.5s ease-in-out;
	-webkit-animation: slideInH3 1.5s ease-in-out;
	-moz-animation: slideInH3 1.5s ease-in-out;
	-o-animation: slideInH3 1.5s ease-in-out;
	-ms-animation: slideInH3 1.5s ease-in-out;
	opacity: 1;
}

@keyframes slideInH3 {
	0% 		{ left: -50%; }
	100%	{ left: 0%; } 
}
@-webkit-keyframes slideInH3 {
	0% 		{ left: -50%; }
	100%	{ left: 0%; } 
}
@-moz-keyframes slideInH3 {
	0% 		{ left: -50%; }
	100%	{ left: 0%; } 
}
@-o-keyframes slideInH3 {
	0% 		{ left: -50%; }
	100%	{ left: 0%; } 
}
@-ms-keyframes slideInH3 {
	0% 		{ left: -50%; }
	100%	{ left: 0%; } 
}

/*** Animite images - SECTION PRODUCTS ***/
.js-img-section-products {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transition: transform 1.0s ease;
	-webkit-transition: transform 1.0s ease;
	-moz-transition: transform 1.0s ease;
	-o-transition: transform 1.0s ease;
	-ms-transition: transform 1.0s ease;
}

.js-animate-img-section-products {
	transform: scale(1.00);
	-webkit-transform: scale(1.00);
	-moz-transform: scale(1.00);
	-o-transform: scale(1.00);
	-ms-transform: scale(1.00);
}


/*** Animite images - SECTION GALLERY ***/
.js-img-gallery {
	opacity: 0;
	position: relative;
	transition: all 1.5s ease;
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
}

.js-animate-img-gallery {
	animation: slideUpTop 1.5s ease;
	-webkit-animation: slideUpTop 1.5s ease;
	-moz-animation: slideUpTop 1.5s ease;
	-o-animation: slideUpTop 1.5s ease;
	-ms-animation: slideUpTop 1.5s ease;
	opacity: 1;
}

@keyframes slideUpTop {
	0% 		{ top: 100px; left: 0px; }
	100% 	{ top: 0; left: 0; }
}
@-webkit-keyframes slideUpTop {
	0% 		{ top: 100px; left: 0px; }
	100% 	{ top: 0; left: 0; }
}
@-moz-keyframes slideUpTop {
	0% 		{ top: 100px; left: 0px; }
	100% 	{ top: 0; left: 0; }
}
@-o-keyframes slideUpTop {
	0% 		{ top: 100px; left: 0px; }
	100% 	{ top: 0; left: 0; }
}
@-ms-keyframes slideUpTop {
	0% 		{ top: 100px; left: 0px; }
	100% 	{ top: 0; left: 0; }
}


/*** Animite navigation while srolling ***/
.js-navi-scroll {
	background: rgba(255, 255, 255, 0.95);
	height: 70px;
	position: fixed;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid lightgrey;

}

.js-navi-scroll .logo-text a p:last-child,
.js-navi-scroll .logo-text a p:first-child {
	color: rgba(0, 0, 0, 0.8);
}


.js-navi-scroll .header-nav ul li a {
	color: rgba(0, 0, 0, 0.8);
	font-weight: 400;
}

.js-navi-scroll > a {
	color: rgba(0, 0, 0, 0.8);
}

/*ACTIVE THE NAVIGATION WHILE SCROLLING UP & DOWN*/
.js-border-bottom-show {
	border-bottom: 3px solid #e67e22;
}